<div class="row">
    <div class="col-xs-6">
        <h1>Logged Bug</h1>
    </div>
    <div class="col-xs-6 text-xs-right">
        <button class="btn btn-success btn-lg">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add Bug
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Serverity</th>
                    <th>Description</th>
                    <th>Logged By</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Some Bug</td>
                    <td>Some Bug</td>
                    <td>Some Bug</td>
                    <td>Some Bug</td>
                    <td>Some Bug</td>
                    <td>Some Bug</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>